# extra-index-url https://download.pytorch.org/whl/cu118
Pillow
accelerate
albumentations
einops
matplotlib
opencv-python
protobuf
pyarrow
rich
sentencepiece
torch==2.7.1 # may work with more recent version
torchvision==0.22.1
transformers==4.40.0